@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.sections {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section {
  height: 100vh; /* Each section takes up the full viewport height */
  scroll-snap-align: start;
}